/* Responsividade para telas menores (smartphones) */
@media (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Impedir barra de rolagem */
  }

  .tetris-container {
    flex-direction: column;
    align-items: center;
    padding: 5px; /* Diminuir o padding */
    width: 90vw; /* Ocupar toda a largura */
    height: 90vh; /* Ocupar toda a altura */
    box-sizing: border-box;
  }

  /* Ajuste da proporção do tabuleiro */
  #game-board {
    width: 80vw; /* Aumentar para ocupar quase toda a tela */
    height: calc(80vw * 2); /* Manter a proporção de 2:1 */
    max-width: 300px;
    max-height: calc(300px * 2);
    margin-right: 0;
    margin-top: 0;
  }

  .info-panel {
    margin-top: 10px;
    text-align: center;
    width: 90vw;
  }

  /* Ajuste para reduzir a tela da próxima peça */
  #next-piece-display {
    width: 45px; /* Diminuindo o tamanho */
    height: 45px;
    margin-bottom: 5px; /* Diminuindo o espaçamento */
  }

  /* Organizar os botões lado a lado */
  .button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80vw; /* Ajuste de largura */
    max-width: 200px; /* Máximo de largura */
  }

  #pause-btn,
  #restart-btn,
  #modal-restart-btn {
    padding: 8px;
    font-size: 12px;
    flex: 1;
    margin: 0 5px; /* Espaçamento entre os botões */
  }

  #game-over-modal .modal-content {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }

  .info-panel .score {
    font-size: 14px;
  }

  #play-icon {
    font-size: 24px;
  }
}
